[Desktop Entry]
Comment[zh_CN]=Centaur Emacs with IM disabled
Comment=Centaur Emacs with IM disabled
Exec=GTK_IM_MODULE= QT_IM_MODULE= XMODIFIERS= emacs --with-profile centaur %F
GenericName[zh_CN]=Centaur Emacs with im disabled
GenericName=Centaur Emacs with im disabled
Icon=/home/wenpin/g/seagle0128/.emacs.d/logo.png
MimeType=
Name[zh_CN]=Centaur Emacs
Name=Centaur Emacs
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
