#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=best editor
Exec=GTK_IM_MODULE= QT_IM_MODULE= XMODIFIERS= emacs %F
GenericName=Emacs without IM, clear spacemacs.env first
Icon=/home/wenpin/.emacs.d/assets/spacemacs.svg
Name=Spacemacs
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
